* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.task-list-wrapper {
  width: 500px;
  margin: 20px auto;
}

.header {
  border-radius: 5px;
  font-size: 26px;
  padding: 16px;
  text-align: center;
  background-color: #fdf1d7;
}

.task-input {
  width: 100%;
  height: 40px;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #d8d0c0;
  outline: none;
}

.task-input::placeholder {
  font-family: Arial;
  color: #b6b4b4;
}

.buttons-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.list-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color ease-in 0.15s;
}

.add-button,
.show-hide-button {
  width: 150px;
  height: 40px;
  background-color: #bce595;
  border: none;
}

.add-button:hover,
.show-hide-button:hover {
  background-color: #a7d681;
}

.done,
.remove {
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #ecd9af;
  background-color: #ffffff;
}

.done:hover {
  background-color: #b9e491;
}

.remove:hover {
  background-color: #f5b399;
}

.check {
  opacity: 0;
}

.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-list-item {
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #fdf1d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list .task-done {
  background-color: #fdedcb;
  opacity: 0.4;
}

.task-list .task-done .task {
  text-decoration: line-through;
}

.task-list .task-done .done {
  background-color: #bce595;
}

.task-list .task-done .check {
  opacity: 1;
}

.hide-done .task-done {
  display: none;
}